<div class="container">
  <% if user_signed_in? %> 
  <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% else %>
  <%= button_to "Sign in", new_user_session_path, class: "btn btn-primary" %> 
  <% end %>
  <h1>Tutorial Completions</h1>

  <%= link_to "Tutorials", tutorials_path %> <br>

  <% if user_signed_in? && current_user.role.name == 'admin' %>
  <%=link_to "Users", users_path %>
  <% end %>
</div>
