<%=link_to "Back", root_path %>
<br><br>

<%# List users %>
<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.first_name.nil? %>
            <%= link_to "first name", admin_user_url(user.id) %>
          <% else %>
            <%= link_to user.first_name, admin_user_url(user.id) %>
          <% end %>
        </td>
        <td>
          <% if user.last_name.nil? %>
            <%= link_to "last name", admin_user_url(user.id) %>
          <% else %>
            <%= link_to user.last_name, admin_user_url(user.id) %>
          <% end %>
        </td>
        <td><%= link_to user.email, admin_user_url(user.id) %></td>
        <td><%= user.role.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>